* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f6f8fb;
}

.navbar {
  background: #fff;
  padding: 12px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #444;
}

.navbar nav a.active {
  color: #2563eb;
}

.auth button {
  background: #2563eb;
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 18px;
}

/* PAGE TITLE */
.page-title {
  padding: 30px 40px;
}

/* FILTERS */
.filters {
  width:100%;
  border: 1px solid #e5e7eb;
  margin: 0 40px;
  background: #fff;
  padding: 12px 16px;
  border-radius: 12px;
}

.categories button {
  margin-right: 10px;
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.categories .active {
  background: #2563eb;
  color: #fff;
}

/* CAMPAIGNS */
.campaigns {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 30px 40px;
}

.card {
  background: #fff;
  border-radius: 16px;
  padding-bottom: 15px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.tag {
  position: absolute;
  margin: 10px;
  background: #eee;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.urgent-tag {
  background: red;
  color: #fff;
}

.card h3 {
  padding: 0 15px;
}

.card p {
  padding: 0 15px;
  color: #555;
}

.money {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.progress {
  background: #ddd;
  height: 6px;
  border-radius: 6px;
  margin: 6px 15px;
}

.progress div {
  background: #2563eb;
  height: 100%;
  border-radius: 6px;
}

.meta {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 13px;
}

.red {
  color: red;
}

.by {
  padding: 0 15px;
  font-size: 13px;
  color: #666;
}
.footer {
  background: linear-gradient(180deg, #0b132b, #0a0f24);
  color: #c7cbd6;
  padding: 60px 20px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  align-items: start;
}

.footer-col h3 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 14px;
}

.footer-col h4 {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 14px;
}

.footer-col p {
  max-width: 260px;
  line-height: 1.6;
  font-size: 14.5px;
  color: #b8bdd2;
}

.footer-col a {
  display: block;
  color: #b8bdd2;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14.5px;
}

.footer-col a:hover {
  color: #4aa4ff;
}

.footer-bottom {
  margin-top: 50px;
  padding-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #9aa0b8;
  border-top: 1px solid rgba(255,255,255,0.08);
}
