body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9ea6b8;   /* dark background like screenshot */
  font-family: Arial, sans-serif;
}

.signup-box {
  position: relative;   /* compulsory */
  background: #ffffff;
  padding: 32px;
  border-radius: 14px;
  width: 360px;
}
.close{
  position:absolute;
  top: 10px;
  right:12px;
  font-size: 16px;
  color:#999;
  cursor: pointer;
}
.signup-box h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: #555;
  margin-bottom: 15px;
}

.info-box {
  background: #f1f5f9;
  padding: 10px;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 15px;
}

.info-box p {
  margin: 5px 0 0;
  color: #555;
}

label {
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 6px 0 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #1e4fd1;
}

.login-link {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.login-link a {
  color: #2563eb;
  text-decoration: none;
}
